body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ff7f50, #000000);
}

.container {
    background: linear-gradient(to bottom right, #ff7f50, #000000, #ffffff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

label {
    margin-top: 10px;
    display: block;
    color: #ffffff;
}

input[type="text"],

input[type="email"],
input[type="tel"],
textarea {
    font-family: Arial, Helvetica, sans-serif ;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff7f50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}

button[type="button"] {
    background-color: #333;
}

button[type="button"]:hover {
    background-color: #555;
}